html{
    --vaadin-input-field-value-color: red;
}

vaadin-combo-box{
    --vaadin-input-field-value-color: blue;
}

vaadin-combo-box-overlay.cboage::part(content){
    background: green;
    color: white;
    font-weight: bold;
}

vaadin-combo-box-overlay.cboage vaadin-combo-box-item:hover{
    background: blue;
    color: red;
}

vaadin-combo-box-overlay.cboage vaadin-combo-box-item::part(checkmark)::before{
    color: red;
}

vaadin-combo-box.cboage::part(toggle-button){
    color: red;
}