/*.customPassword{
    background: lightgray;
    color: orange;
    padding: 2px;
    border-radius: 8px;
    --vaadin-focus-ring-color: orange;
    --vaadin-input-field-focused-label-color: red;
}*/

vaadin-password-field.customPassword::part(reveal-button){
    color: red;
}
vaadin-password-field.customPassword::part(clear-button){
    color: red;
}

vaadin-password-field.customPassword::part(label){
    color: green;
}

vaadin-password-field.customPassword::part(input-field){
    color: gray;
}